[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "==0.21.3"
jupyterlab = "*"
pymzml = "*"
psims = "*"
events = "*"
tqdm = "*"
joblib = "*"
ipyparallel = "*"
requests = "*"
trio = "*"
loguru = "*"
pythonnet = {version = "*",sys_platform = "== 'win32'"}
pywin32 = {version = "!= 226",sys_platform = "== 'win32'"} # https://github.com/mhammond/pywin32/issues/1439
pyDOE = "*"
networkx = "*"
jsonpickle = "*"
xgboost = {version = "*",sys_platform = "!= 'win32'"}
xgboost_win = {path = "./xgboost/xgboost-0.90-cp37-cp37m-win32.whl",sys_platform = "== 'win32'"}
jupyter = "*"

[dev-packages]

[requires]
python_version = "3"
